@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif; 
}

body {
  background-color: #bfbebb;
  min-height: 100%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: left;
  /*background: #2299;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);*/
}

nav .menu-button {
  display: flex;
  margin: 1px 14px;
  align-items: center;
}

.menu-button .menu-icon {
  z-index: 1;
  color: black;
  font-size: 28px;
  margin: 14px;
  cursor: pointer;
}

.menu-icon:hover {
  background-color: #2980b9;
}

nav .menu-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  padding: 24px 0;
  background-color: #b5b4b1;
  /*box-shadow: 0 5 1px rgba(0, 0, 0, 0.1);*/
  display: none;
}

.menu-sidebar .menu-items {
  padding: 30px 18px;
  font-size: 28px;
  list-style: none;
}

.menu-items .menu-item {

  color: #211a06;
  padding: 14px 12px;
  /*border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;*/
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s ease;

}

.menu-items .menu-item:hover {
  border-top-color: #000;
  border-bottom-color: #000;
  cursor: pointer;
}
.menu-items .menu-item a {
  text-decoration: none !important;
  font-size: 34px;
  color: black;

}
